@font-face {
  font-family: "atari";
  src: url(./fonts/koprac.otf);
}
@font-face {
  font-family: "atari2";
  src: url(./fonts/atari1.ttf);
}
@font-face {
  font-family: "bubbles";
  src: url(./fonts/RubikBubbles-Regular.ttf);
}
* {
  box-sizing: border-box;
}
body {
  height: 100vh;
  overflow: hidden;
  user-select: none;
  background-size: 100% 100%;
  cursor: pointer;
  font-weight: bolder;
  font-size: 1.5rem;
  --text-color: #3f51b5;
  --border-color: #0877cc;
}
header {
  margin-bottom: 0;
  translate: 0 5%;
  height: 4%;
  background: url(./images/header-bg.png) no-repeat;
  background-size: 100% 120%;
  color: var(--text-color);
  letter-spacing: 5px;
  font-family: monospace;
}
main {
  margin: 0;
  height: 96%;
}

.start-page .modals,
.end-page .modals {
  background-color: #0000002a;
  width: 500px;
  height: 45%;
  color: var(--text-color);
  font-weight: 200;
  border-radius: 10px;
}

.start-page {
  cursor: default;
}
.modals {
  font-family: "bubbles";
}
.modals span {
  font-size: 2.2rem;
  margin-right: 0.3rem;
}
.modals span.set-speed {
  font-size: 1.5rem;
  color: var(--text-color);
}
.cards-con {
  top: 5%;
}
.start-btn,
.restart-btn,
.warn-btn {
  border: 2px solid #ff9800;
  border-radius: 0.5rem;
  color: #ff9800;
  padding: 0.5rem;
}
.set-speed,
.speed-input {
  color: #9c27b0;
}

.warn {
  height: 30%;
  background-color: #fff;
  color: var(--text-color);
  font-weight: 200;
  border: 4px solid var(--border-color);
  border-radius: 1rem;
}

.warn-btn {
  color: var(--text-color);
  border: 3px solid var(--border-color);
}

.modals p {
  color: #3c3b3b;
  font-size: 0.9rem;
  font-weight: 100;
}
.modals img {
  position: absolute;
  top: 20%;
  width: 10%;
  animation: move-balls 0.5s alternate linear infinite;
}
.cards {
  transform-origin: bottom left;
}
.cards span {
  position: absolute;
  transform: rotate(-20deg);
  animation: swing 3s linear alternate infinite;
}
@keyframes swing {
  70% {
    transform: translateX(calc(39px * var(--p))) rotate(20deg);
  }
  30% {
    transform: translateX(calc(39px * var(--p))) rotate(20deg);
  }
}
.modals img:first-of-type {
  left: 5%;
}
.modals img:last-of-type {
  right: 5%;
}

@keyframes move-balls {
  to {
    transform: translateY(40%);
  }
}
@media screen and (orientation: portrait) {
  body {
    height: 100svh;
  }
  header {
    font-size: 1rem;
  }

  .modals span {
    font-size: 1.2rem;
  }
  .modals p {
    font-size: 50%;
  }
  .modals img {
    top: 17%;
  }
  .start-btn,
  .restart-btn,
  .warn-btn {
    font-size: 1rem;
  }
  .warn {
    width: 90%;
    height: 40%;
    font-size: 1rem;
  }
  @keyframes swing {
    70% {
      transform: translateX(calc(26px * var(--p))) rotate(20deg);
    }
    30% {
      transform: translateX(calc(26px * var(--p))) rotate(20deg);
    }
  }
}
